<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/chua"
        android:label="Đồ án 3"
        android:roundIcon="@drawable/chua"
        android:supportsRtl="true"
        android:theme="@style/Theme.DHBC"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.CREDENTIALS_API_KEY"
            android:value="@string/default_web_client_id"/>
<!--        <activity-->
<!--            android:name=".LoginGG"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".GameShowRound3"
            android:exported="false" />
        <activity
            android:name=".views.cauhoi_roung2"
            android:exported="false" />
        <activity
            android:name=".views.cauCaDao_round2"
            android:exported="false" />
        <activity
            android:name=".views.GameShowRound2"
            android:exported="false" />
        <activity
            android:name=".views.GameShowRound1"
            android:exported="false" />
        <activity
            android:name=".views.ChonCheDoChoi"
            android:exported="false" />
        <activity
            android:name=".views.cuahangvatpham"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".views.MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginGG"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>